.search-form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 4rem auto;
    width: 50rem;
    border: 0.1rem solid $color-gray;
    border-radius: 3rem;

    @include small {
        width: 100%;
    }

    input {
        width: 100%;
        margin: 0.5rem 0.5rem 0.5rem 2rem;
        padding: 1rem;
        border: none;
    }
}