.title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 3rem;
    background-color: $color-brand;
    margin-bottom: 5rem;

    @include small {
        flex-direction: column;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 2rem;

        h1 {
            margin: 0;
            color: $color-white;
            font-weight: 300;
        }
    
        svg {
            height: 8rem;
            width: 8rem;
    
            > * {
                fill: $color-white;
            }
        }
    }
}